#Graph {
    display: flex;

}

.graphData {
    width: 25vw;
    height: 25vw;
}

@media screen and (max-width: 968px) {
    #Graph {
        display: block;
        
    }
    .graphData {
        height: 50vw;
    }
}