#liveData
{
    display: flex
}
#img
{
     width:50vw; 
     height: auto;
}
@media screen and (max-width: 968px) {
    #liveData
    {
      display: block;
      
    }
    #img
{
     width:100%; 
     height: auto;
}
}